* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.title {
    font-size: 45px;
  font-weight: 900;
  color: #ff0202;
}

.title:hover {
  animation: rainbow 5s infinite;
}
@keyframes rainbow {
  0% {
    color: rgb(255, 0, 0);
  }
  16.67% {
    color: rgb(255, 255, 0);
  }
  33.33% {
    color: rgb(39, 163, 39);
  }
  50% {
    color: rgb(100, 19, 175);
  }
  66.67% {
    color: rgb(0, 0, 255);
  }
  83.33% {
    color: rgb(255, 0, 255);
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

.barbarian-container {
  margin-top: 30px;
  width: 100%;
  height: 30rem;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.character-img {
  width: 500px;
  height: 100%;
}

.black-paragraph {
  width: 350px;
  font-size: 25px;
  font-weight: 700;
  color: #161616;
}

.red-text {
  color: #f70202;
}

.quote-text {
    width: 369px;
    font-size: 27;
    font-weight: 600;
    color: green;
    font-family:sans-serif;
    margin-top: 30px;
}

.warlock-container {
  width: 100%;
  height: 30rem;
  background-color: #164af5;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.white-paragraph {
  width: 500px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.sobre {
  font-size: 35px;
  font-weight: 900;
  color: #164af5;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}